{% extends "index.html" %}

{% block title %}
    Sign-Up {%call super%}
{% endblock title %}

{% block meta %}
    <meta name="Description" content="This is the Sign-Up page">
{% endblock meta %}

{% block css %}
<link rel="stylesheet" href="/static/css/auth.css">
{% endblock %}

{% block main %}
<div class="auth-container">
    <h1 class="auth-title">Sign-Up</h1>
    <form method="post" action="/signup">
        <div class="form-field">
            <input type="username" id="username" name="username" placeholder="Please enter your username" value="{{ username_value }}" required>
            <span id="username-error" class="error-message">
                {% if let Some(error) = username_error %}{{ error }}{% endif %}
            </span>
        </div>
        <div class="form-field">
            <input type="email" id="email" name="email" placeholder="Please enter your email:" value="{{ email_value }}" required>
            <span id="email-error" class="error-message">
                {% if let Some(error) = email_error %}{{ error }}{% endif %}
            </span>
        </div>
        <div class="form-field">
            <input type="password" id="password" name="password" placeholder="Enter a secure password:" required>
            <span id="password-error" class="error-message">
                {% if let Some(error) = password_error %}{{ error }}{% endif %}
            </span>
        </div>
        <div class="form-field">
            <input type="password" id="confirm_password" name="confirm_password" placeholder="Confirm your password:" required>
            <span id="confirm-password-error" class="error-message">
                {% if let Some(error) = confirm_password_error %}{{ error }}{% endif %}
            </span>
        </div>
        <button type="submit" id="signup-button" disabled>Sign-Up</button>
    </form>
    <form method="get" action="/login">
        <button>Already have an account? Login</button>
    </form>
</div>
{% endblock main %}

{% block scripts %}
<script src="/static/js/auth.js"></script>
{% endblock scripts %}
